.max-w-lg.mx-auto.mt-16.prose.flex-grow
  %h1
    Help
  %h2
    How does it work?
  %p
    At its core, Ghostlight Folio is broken down into
    = link_to 'Authors', authors_path
    and
    = link_to 'Shows', shows_path
    A show can have multiple authors, and an author can have multiple shows.
  %p
    Shows can have many Roles and Acts (as well as Scenes and French Scenes) An excel spreadsheet of
    act and role data can be downloaded via the
    %i.fa.fa-file-excel
    icon on the show view.
  %p
    Search is an important feature, which can be accessed from the
    %i.fa.fa-search
    icon on the Shows and Authors views. We are trying to provide the ability to find shows and authors
    from diverse backgrounds. Eventually we hope to add similar functionality for searching Roles and Scenes.
  %p
    We are collecting demographic information for authors and roles in order to help you search for shows that
    will help you achieve your diversity goals. 
  %p
    In order to add or edit content, you will need an editor account. We will be happy to create one for you 
    if you request one via our 
    = link_to 'Contact Form', contacts_path
