.w-full.mx-auto.my-8.text-xl.font-bold
  %span.float-left
    People
  = link_to 'Add Person', new_person_path, class: 'float-right bg-blue-400 hover:bg-blue-600 text-white font-bold py-1 px-2 rounded'
.w-full.lg
  .bg-white.shadow-md.rounded.my-6
    %table.min-w-max.w-full.table-auto
      %thead
        %tr.bg-gray-200.text-gray-600.uppercase.text-sm.leading-normal
          %th.py-3.px-6.text-left
            Name
          %th.py-3.px-6.text-left
            Email
          %th.py-3.px-6.text-left
            Phone
          %th.py-3.px-6.text-left
            Actions
      %tbody.text-gray-600.text-sm.font-light
        - people.each do |person|
          = render partial: 'person', locals: { person: person }