%tr.hover{ id: dom_id(author), data: { action: 'click->table-row#click', link: edit_author_path(author) } }
  %td
    = author.full_name
  %td
    = author.gender_value
  %td
    = author.ethnicity_values&.join(', ')&.chomp
  %td
    = inline_svg_tag 'check.svg' if author.lgbt
