.w-full.mx-auto.my-8.text-xl.font-bold
  %span.float-left
    Authors
  = link_to 'Add Author', new_author_path, class: 'btn btn-default mb-2 lg:mr-2 lg:mb-0 float-right'
.w-full.lg
  .bg-white.shadow-md.rounded.my-6
    %table.min-w-max.w-full.table-auto
      %thead
        %tr.bg-gray-200.text-gray-600.uppercase.text-sm.leading-normal
          %th.py-3.px-6.text-left
            Name
          %th.py-3.px-6.text-left
            Gender Identity
          %th.py-3.px-6.text-left
            Ethnicity
          %th.py-3.px-6.text-left
            LGBT
          %th.py-3.px-6.text-left
            Birth Year
          %th.py-3.px-6.text-left
            Death Year
          %th.py-3.px-6.text-left
            Actions
      %tbody.text-gray-600.text-sm.font-light
        - authors.each do |author|
          = render partial: 'author', locals: { author: author }