- content_for(:main) do
  .max-w-lg.mx-auto.mt-16
    %h1.mb-4.text-3xl.font-black.text-center   Welcome to Ghostlight Folio
    %p.text-lg.leading-snug 
      Ghostlight Folio is a new platform designed to help theater people find and produce shows and other productions. 

