.max-w-lg.mx-auto.mt-16.prose
  %p 
    Hi, I'm Charley
  %p
    Theater is a big part of my life. My wife is a theater professional and she spends a lot of her time planning
    and managing theater seasons. We were talking the other day and she was saying how difficult it was to find shows that met
    certain criteria, particularly around her theater's diversity goals. 
  %p 
    So we talked a lot about what she might need in order to make this process easier, and it seemed like there might
    be room for a new tool. That's where Ghostlight Folio came in. We thought that if we could make a database with
    really good demographic data and the ability to crowdsource information on new shows, we might be able to make
    a lot of people's lives a little easier. And maybe we can help to bring greater diversity and equity to the
    theater community as well.
  %p
    This tool is very much a work in progress - at the moment the database is still lacking a lot of important information,
    and the functionality is pretty limited. I am hoping that by getting this out in front of people now, I could
    gather some thoughts and feedback from the community about what directions I could push this in to make it more
    useful. Eventually I would like to add more functionality including the ability to manage various aspects of
    a production, so that you could track actors/props/scenery from scene to scene - but that will come much later,
    assuming it even sounds useful to future users. 
  %p
    In the meantime I hope you'll have a look and let me know what you think - for now editing is locked to users
    approved manually, but if you'd like to help me improve the data please just drop me a line and I will be
    happy to set you up with an editor account. 
    = link_to 'Contact me', contacts_path
