%div{ class: 'col-span-12 sm:col-span-12 md:col-span-5 lg:col-span-4 xxl:col-span-4 mx-8 main_area overflow-y-scroll' }
  = turbo_frame_tag 'details' do
    .w-full.mx-auto.my-8.text-xl.font-bold
      = role.name
      = link_to show_path(role.show, page: role.show.page_number(by: :name)), class: 'btn btn-circle btn-outline btn-sm float-right', data: { turbo_frame: '_top' } do
        %i.fa.fa-times
    = render partial: 'form', locals: { role: role }
