= stylesheet_link_tag 'email', media: 'all', 'data-turbo-track': 'reload'

%div.text-center.font-sans.w-75.m-4{ role: "article", aria_roledescription: "email", aria_label: "Confirm your signup", lang: "en" }
  %p
    Hello #{@email}! This is Ghostlight Folio checking in with some important information about your account.
  - if @resource.try(:unconfirmed_email?)
    %p
      We're contacting you to notify you that your email is being changed to #{@resource.unconfirmed_email}.
  - else
    %p
      We're contacting you to notify you that your email has been changed to #{@resource.email}.
