!!!
%html.antialiased{ data: { theme: 'light' } }
  = render 'shared/head'
  = render 'shared/flash_notice'
  = render 'shared/header'

  %div{ class: 'grid grid-cols-12 gap-0' }
    %div{ class: 'relative col-span-12 sm:col-span-12 md:col-span-12 lg:col-span-12 xxl:col-span-8 hidden md:block main_area overflow-y-scroll' }
      %main{ class: 'px-4 lg:px-10' }
        = yield
